html {
    overflow-y: scroll;
    scroll-behavior: smooth;
}

h1 {
    scroll-margin-top: 170px;
}

#projects {
    scroll-margin-top: 120px;
}

#body-contents {
    margin: 150px 50px 170px 50px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: rgb(200, 200, 200);
    overflow: auto;
}

#body-contents h1 {
    font-size: 2.5em;
    letter-spacing: 6px;
}

#body-contents .about-me p {
    font-size: 1.4em;
    margin: 10px 50px;
    padding: 15px;
    text-align: justify;
    justify-content: center;
}

@media (max-width: 800px) {
    #body-contents {
        margin: 150px 4px 170px 4px;
        font-size: 0.75em;
    }
}

#about-me p span {
    color: white;
    opacity: 90%;
}

#body-contents .form-box {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 30px 30px 30px 30px;
    width: 60%;
    height: 40%;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: left;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(0, 0, 0, 0.5);
}

#body-contents .form-details {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
}

.form-details h1 {
    position: relative;
    text-align: center;
}

.form-details .inputbox {
    width: 100%;
    margin-top: 20px;
}

.form-details .inputbox input,
textarea {
    width: 100%;
    background: #060d24;
    color: rgb(200, 200, 200);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 35px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(0, 0, 0, 0.5);
    resize: none;
    font-size: 1.3em;
}

::placeholder {
    color: rgb(200, 200, 200);
}

@media (max-width: 940px) {
    #body-contents .form-box {
        width: 80%;
        height: 20%;
    }
}

.send-button {
    cursor: pointer;
}

.form-details .inputbox input:hover {
    transform: rotateY(15deg);
    transition: 0.3s;
}

.form-details .inputbox textarea:hover {
    transform: rotateY(15deg);
    transition: 0.3s;
}

.project-section .project-boxes {
    position: relative;
    display: inline-flex;
    margin: 30px 30px;
    flex-direction: row;
    width: 35vw;
    height: 20vw;
    background: #060d24;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.project-section .project-boxes:before {
    content: ' ';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    z-index: 0;
    background: linear-gradient(315deg, #00ccff, #060d24, #060d24, #d400d4);
    filter: blur(5px);
}

.project-section .project-boxes .box-content1,
.box-content2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: #060d24;
    z-index: 0;
}

.project-section .project-boxes span {
    position: relative;
    font-size: 2em;
}

@media(max-width:1000px) {
    .project-section .project-boxes {
        width: 60vw;
        height: 30vw;
    }
}

@media(max-width:600px) {
    #body-contents .about-me p {
        margin: 10px 10px;
    }

    .project-section .project-boxes {
        width: 80vw;
        height: 40vw;
    }
}