footer .footer-content {
    position: absolute;
    bottom: -10px;
    margin-top: -100px;
    width: 100%;
    padding: 2px 50px;
    background: rgb(52 28 70);
    min-height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.footer-content .social_icons {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px 0;
    flex-wrap: wrap;
}

.footer-content .social_icons li {
    list-style: none;
}

.footer-content .social_icons li a {
    font-size: 2em;
    color: white;
    opacity: 75%;
    margin: 0 25px;
    display: inline-block;
    transition: 0.3s;
}

.footer-content .social_icons li a:hover {
    transform: translateY(-15px);
}

.wave {
    position: absolute;
    top: -95px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(img/wave.png);
    background-size: 1000px 100px;
}

.wave#wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animatewave 4s linear infinite;
}

.wave#wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animatewave 3s linear infinite;
}

@keyframes animatewave {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

.wave#wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animatewave2 4s linear infinite;
}

.wave#wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animatewave2 3s linear infinite;
}

@keyframes animatewave2 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}

@media(max-width:800px) {
    .footer-content .social_icons li a {
        font-size: 1.5em;
    }
}