.navbar-container .menu-btn i {
    color: white;
    font-size: 30px;
    cursor: pointer;
    display: none;
    margin: 30px auto;
    opacity: 75%;
}

#click {
    display: none;
}

@media (max-width: 940px) {
    .navbar-container .menu-btn i {
        display: block;

    }

    .navbar-container ul {
        position: fixed;
        top: 0px;
        left: -100%;
        height: 60%;
        width: 100%;
        display: block;
        text-align: center;
        margin: 110px 0 175px 0;
        transition: all 0.3s ease;
        background: #060d24;
    }

    #click:checked~ul {
        left: 0%;
    }

    #click:checked~.menu-btn i:before {
        content: "\f00d";
        font-size: 37px;
    }

    .navbar-container ul li {
        margin: 25px 0px;
        padding: 1px 80px;
    }

    .navbar-container ul li a {
        font-size: 20px;
        display: block;
        padding: 5px 80px 5px 80px;
    }

}

@media (max-width:800px) {
    .navbar-container ul {
        margin: 90px 0 175px 0;
    }

    .navbar-container ul li {
        padding: 0px 40px;

    }
}